.main-box5{
  padding: 30px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box5 .main-event-bn{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 720px;
}

.main-box5 .main-event-bn .main-title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 27px;
    text-align: left;
    color:#333333;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    z-index: 1;
}

.main-box5 .main-event-bn .main-title span{
  position: relative;
  font-size: 28px;
  font-weight: 700;
}
.main-box5 .main-event-bn .main-title span::after{
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 4px;
  height: 4px;
  margin-left: 1px;
  border-radius: 50%;
  background-color: #cc002f;
}
.main-box5 .main-event-bn .main-title a{
  font-size: 20px;
  font-weight: 600;
}
.main-box5 .main-event-bn .main-title a em{
  font-style: normal;
  color: #cc002f;
}
.main-box5 .main-event-bn .wave-circle{
  position: absolute;
  top: 0%;
  left: -43%;
}
.main-box5 .main-event-bn .wave-circle svg{

}

.main-box5 .main-event-bn .wave-circle svg path{
  fill: #FFEFDF;  
}
.main-box5 .main-event-bn ul{
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 16px;
  padding: 0 clamp(27px, 8.3vw, 40px);
  z-index: 1;
}
.main-box5 .main-event-bn ul li{}
.main-box5 .main-event-bn ul li:nth-child(1){
  grid-column: 1 / span 2;
}
.main-box5 .main-event-bn ul li a{}
.main-box5 .main-event-bn ul li a img{}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
      opacity: 1;
  }
}