.NewProduct {
  padding: 40px 20px;
}

.NewProduct > .title {
  text-align: left;
  margin-right: auto;
}

.NewProduct > .title > h2 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #333;
  width: fit-content;
  text-align: left;
}

.NewProduct > .title > h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  margin-left: 8px;
  border-radius: 50%;
  background: #cc002f;
}
